<div style="height: 200px; background-image: url('https://legalserviceindia.com/legal/uploads/offencesagainstchildrenunderipc_2824045185.jpg'); background-size: cover; background-position: center;"></div>

## Introduction

- In the analysis of crime statistics, simply reporting the total number of crimes in various regions can be misleading without considering the population size of each area. To gain a more accurate understanding of crime patterns and their impact on communities, it is crucial to calculate crime rates per capita. This metric normalizes crime data relative to the size of the population, allowing for meaningful comparisons between regions with different population densities. By assessing crimes per capita, we can better identify which areas experience higher rates of criminal activity relative to their population size, uncover underlying trends, and target resources more effectively. This approach provides a clearer picture of the true prevalence of crime and helps policymakers and law enforcement agencies to prioritize interventions and allocate resources based on actual crime rates, rather than raw totals that may not reflect the relative burden on each community.

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
crime_csv = 'cleaned_data.csv'
df_crime = pd.read_csv(crime_csv)

In [6]:
df_crime.head()

       States/UTs                                         Crime Head  2014
0  Andhra Pradesh               1 - Murder (Section 302 and 303 IPC)    45
1  Andhra Pradesh                  2 - Infanticide (Section 315 IPC)     2
2  Andhra Pradesh                                           3 - Rape   477
3  Andhra Pradesh  4 - Assault on women with intent to outrage he...   274
4  Andhra Pradesh  5 - Insult to the Modesty of Women (Girls Chil...    75

In [8]:
df_population = pd.DataFrame({
    'States/UTs': ['Andhra Pradesh', 'Arunachal Pradesh', 'Assam', 'Bihar', 'Chhattisgarh', 'Goa', 'Gujarat', 'Haryana', 'Himachal Pradesh',
                   'Jammu & Kashmir', 'Jharkhand', 'Karnataka', 'Kerala', 'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram',
                  'Nagaland', 'Odisha', 'Punjab', 'Rajasthan', 'Sikkim', 'Tamil Nadu', 'Telangana', 'Tripura', 'Uttar Pradesh', 'Uttarakhand',
                   'West Bengal', 'A&N Islands', 'Chandigarh', 'D&N Haveli', 'Daman & Diu', 'Delhi UT', 'Lakshadweep', 'Puducherry'],
    'Population': [49577103, 1383727, 31205576, 104099452, 25545198, 1458545, 60439692, 25351462, 6864602, 12541032, 32988134, 61095297, 33406061,
                   72626809, 112374333, 257090, 2966889, 1097206, 1978502, 41974219, 27743338, 68548437, 610577, 72147030, 35003674, 3673917, 199812341,
                   10086292, 91276115, 380581, 1055450, 292882, 292882, 16787941, 64473, 1247953] 
})

In [9]:
df_population

           States/UTs  Population
0      Andhra Pradesh    49577103
1   Arunachal Pradesh     1383727
2               Assam    31205576
3               Bihar   104099452
4        Chhattisgarh    25545198
5                 Goa     1458545
6             Gujarat    60439692
7             Haryana    25351462
8    Himachal Pradesh     6864602
9     Jammu & Kashmir    12541032
10          Jharkhand    32988134
11          Karnataka    61095297
12             Kerala    33406061
13     Madhya Pradesh    72626809
14        Maharashtra   112374333
15            Manipur      257090
16          Meghalaya     2966889
17            Mizoram     1097206
18           Nagaland     1978502
19             Odisha    41974219
20             Punjab    27743338
21          Rajasthan    68548437
22             Sikkim      610577
23         Tamil Nadu    72147030
24          Telangana    35003674
25            Tripura     3673917
26      Uttar Pradesh   199812341
27        Uttarakhand    10086292
28        West Bengal    91276115
29        A&N Islands      380581
30         Chandigarh     1055450
31         D&N Haveli      292882
32        Daman & Diu      292882
33           Delhi UT    16787941
34        Lakshadweep       64473
35         Puducherry     1247953

## Crimes per Capita

- we are calculating crimes per capita of whole states and UT. We are doing it by dividing crimes by population and multiplied bt 100

In [22]:
# Calculate total crimes per State/UT
total_crimes_by_state = df_crime.groupby('States/UTs')['2014'].sum().reset_index()
total_crimes_by_state.rename(columns={'2014': 'Total_Crimes'}, inplace=True)

# Merge total crimes with population data
merged_df = pd.merge(total_crimes_by_state, df_population, on='States/UTs')

# Calculate crimes per capita as a percentage
merged_df['Crimes_Per_Capita_Percentage'] = (merged_df['Total_Crimes'] / merged_df['Population']) * 100

# Sort by crimes per capita percentage
sorted_by_per_capita_percentage = merged_df.sort_values(by='Crimes_Per_Capita_Percentage', ascending=False)

print("States/UTs in descending order of crimes per capita percentage in 2014:")
sorted_by_per_capita_percentage

States/UTs in descending order of crimes per capita percentage in 2014:

           States/UTs  Total_Crimes  Population  Crimes_Per_Capita_Percentage
9            Delhi UT          9345    16787941                      0.055665
21            Manipur           137      257090                      0.053289
10                Goa           330     1458545                      0.022625
19     Madhya Pradesh         15055    72626809                      0.020729
5          Chandigarh           207     1055450                      0.019612
6        Chhattisgarh          4353    25545198                      0.017040
23            Mizoram           178     1097206                      0.016223
29             Sikkim            93      610577                      0.015231
0         A&N Islands            50      380581                      0.013138
32            Tripura           369     3673917                      0.010044
12            Haryana          2534    25351462                      0.009995
2   Arunachal Pradesh           134     1383727                      0.009684
33      Uttar Pradesh         14824   199812341                      0.007419
20        Maharashtra          8108   112374333                      0.007215
22          Meghalaya           213     2966889                      0.007179
17             Kerala          2391    33406061                      0.007157
13   Himachal Pradesh           463     6864602                      0.006745
27             Punjab          1752    27743338                      0.006315
28          Rajasthan          3856    68548437                      0.005625
16          Karnataka          3416    61095297                      0.005591
31          Telangana          1928    35003674                      0.005508
35        West Bengal          4909    91276115                      0.005378
11            Gujarat          3219    60439692                      0.005326
25             Odisha          2196    41974219                      0.005232
34        Uttarakhand           488    10086292                      0.004838
3               Assam          1385    31205576                      0.004438
1      Andhra Pradesh          2059    49577103                      0.004153
7          D&N Haveli            11      292882                      0.003756
30         Tamil Nadu          2354    72147030                      0.003263
26         Puducherry            38     1247953                      0.003045
8         Daman & Diu             7      292882                      0.002390
4               Bihar          2255   104099452                      0.002166
14    Jammu & Kashmir           211    12541032                      0.001682
18        Lakshadweep             1       64473                      0.001551
15          Jharkhand           422    32988134                      0.001279
24           Nagaland            25     1978502                      0.001264

- The capital city of delhi has more crimes against children per capita among all indian states/UT
- Nagaland has least crime per capita in India

#### Murder Percentage

In [24]:
# Filter for the specific crime head
crime_head = '1 - Murder (Section 302 and 303 IPC)'
filtered_df = df_crime[df_crime['Crime Head'] == crime_head]

# Group by State/UT and sum the number of crimes
sum_crimes_by_state = filtered_df.groupby('States/UTs')['2014'].sum().reset_index()
sum_crimes_by_state.rename(columns={'2014': 'Total_Crimes'}, inplace=True)

# Merge with population data
merged_df = pd.merge(sum_crimes_by_state, df_population, on='States/UTs')

# Calculate crimes per capita as a percentage
merged_df['Crimes_Per_Capita_Percentage'] = (merged_df['Total_Crimes'] / merged_df['Population']) * 100

# Sort by crimes per capita percentage
sorted_by_per_capita_percentage = merged_df.sort_values(by='Crimes_Per_Capita_Percentage', ascending=False)

print("States/UTs in ascending order of crimes per capita percentage for '{}' in 2014:".format(crime_head))
sorted_by_per_capita_percentage

States/UTs in ascending order of crimes per capita percentage for '1 - Murder (Section 302 and 303 IPC)' in 2014:

           States/UTs  Total_Crimes  Population  Crimes_Per_Capita_Percentage
21            Manipur             9      257090                      0.003501
32            Tripura            21     3673917                      0.000572
2   Arunachal Pradesh             5     1383727                      0.000361
7          D&N Haveli             1      292882                      0.000341
9            Delhi UT            48    16787941                      0.000286
33      Uttar Pradesh           543   199812341                      0.000272
0         A&N Islands             1      380581                      0.000263
22          Meghalaya             7     2966889                      0.000236
12            Haryana            56    25351462                      0.000221
10                Goa             3     1458545                      0.000206
31          Telangana            70    35003674                      0.000200
6        Chhattisgarh            50    25545198                      0.000196
19     Madhya Pradesh           131    72626809                      0.000180
20        Maharashtra           195   112374333                      0.000174
29             Sikkim             1      610577                      0.000164
27             Punjab            42    27743338                      0.000151
30         Tamil Nadu           103    72147030                      0.000143
16          Karnataka            87    61095297                      0.000142
11            Gujarat            82    60439692                      0.000136
17             Kerala            44    33406061                      0.000132
34        Uttarakhand            11    10086292                      0.000109
28          Rajasthan            73    68548437                      0.000106
13   Himachal Pradesh             7     6864602                      0.000102
1      Andhra Pradesh            45    49577103                      0.000091
3               Assam            22    31205576                      0.000071
35        West Bengal            64    91276115                      0.000070
4               Bihar            61   104099452                      0.000059
25             Odisha            23    41974219                      0.000055
24           Nagaland             1     1978502                      0.000051
15          Jharkhand             8    32988134                      0.000024
14    Jammu & Kashmir             3    12541032                      0.000024
26         Puducherry             0     1247953                      0.000000
23            Mizoram             0     1097206                      0.000000
8         Daman & Diu             0      292882                      0.000000
5          Chandigarh             0     1055450                      0.000000
18        Lakshadweep             0       64473                      0.000000

- Manipur has most percapita child murders among all indian states/UT
- Manipur rate is almost 6 times the second place, tripura

### Child rape per capita

In [25]:
# Filter for the specific crime head
crime_head = '3 - Rape'
filtered_df = df_crime[df_crime['Crime Head'] == crime_head]

# Group by State/UT and sum the number of crimes
sum_crimes_by_state = filtered_df.groupby('States/UTs')['2014'].sum().reset_index()
sum_crimes_by_state.rename(columns={'2014': 'Total_Crimes'}, inplace=True)

# Merge with population data
merged_df = pd.merge(sum_crimes_by_state, df_population, on='States/UTs')

# Calculate crimes per capita as a percentage
merged_df['Crimes_Per_Capita_Percentage'] = (merged_df['Total_Crimes'] / merged_df['Population']) * 100

# Sort by crimes per capita percentage
sorted_by_per_capita_percentage = merged_df.sort_values(by='Crimes_Per_Capita_Percentage', ascending=False)

print("States/UTs in ascending order of crimes per capita percentage for '{}' in 2014:".format(crime_head))
sorted_by_per_capita_percentage

States/UTs in ascending order of crimes per capita percentage for '3 - Rape' in 2014:

           States/UTs  Total_Crimes  Population  Crimes_Per_Capita_Percentage
21            Manipur            38      257090                      0.014781
23            Mizoram            91     1097206                      0.008294
29             Sikkim            40      610577                      0.006551
9            Delhi UT          1004    16787941                      0.005980
0         A&N Islands            20      380581                      0.005255
10                Goa            57     1458545                      0.003908
32            Tripura           122     3673917                      0.003321
19     Madhya Pradesh          2352    72626809                      0.003238
6        Chhattisgarh           806    25545198                      0.003155
2   Arunachal Pradesh            43     1383727                      0.003108
5          Chandigarh            32     1055450                      0.003032
17             Kerala           754    33406061                      0.002257
22          Meghalaya            61     2966889                      0.002056
13   Himachal Pradesh           135     6864602                      0.001967
25             Odisha           753    41974219                      0.001794
27             Punjab           476    27743338                      0.001716
31          Telangana           583    35003674                      0.001666
12            Haryana           416    25351462                      0.001641
20        Maharashtra          1714   112374333                      0.001525
28          Rajasthan           825    68548437                      0.001204
16          Karnataka           694    61095297                      0.001136
1      Andhra Pradesh           477    49577103                      0.000962
34        Uttarakhand            84    10086292                      0.000833
33      Uttar Pradesh          1538   199812341                      0.000770
7          D&N Haveli             2      292882                      0.000683
24           Nagaland            11     1978502                      0.000556
11            Gujarat           291    60439692                      0.000481
3               Assam           125    31205576                      0.000401
8         Daman & Diu             1      292882                      0.000341
14    Jammu & Kashmir            37    12541032                      0.000295
26         Puducherry             3     1247953                      0.000240
15          Jharkhand            78    32988134                      0.000236
4               Bihar           103   104099452                      0.000099
18        Lakshadweep             0       64473                      0.000000
30         Tamil Nadu             0    72147030                      0.000000
35        West Bengal             0    91276115                      0.000000

- Manipur still has the most child rape cases per capita in our country
- West Bengal, Tamil nadu and lakshadweep is in lowest beacuse there is no such crimes reported in 2014
- There are some serious considerations should be taken in Manipur

### Child abduction per capita

In [10]:
df_child_abduction = df_crime[df_crime['Crime Head'].str.contains('Kidnapping & Abduction', case=False, na=False)]

# Aggregate data to get total number of child abductions by state
total_child_abduction_by_state = df_child_abduction.groupby('States/UTs')['2014'].sum().reset_index()
total_child_abduction_by_state.rename(columns={'2014': 'Total_Child_Abductions'}, inplace=True)

# Merge with population data
df_merged_child_abduction = pd.merge(total_child_abduction_by_state, df_population, on='States/UTs')

# Calculate child abductions per capita
df_merged_child_abduction['Child_Abductions_Per_Capita'] = df_merged_child_abduction['Total_Child_Abductions'] / df_merged_child_abduction['Population'] * 100000  # Per 100,000 population

# Sort data by child abductions per capita in descending order
df_merged_child_abduction = df_merged_child_abduction.sort_values(by='Child_Abductions_Per_Capita', ascending=False)
df_merged_child_abduction

,States/UTs,Total_Child_Abductions,Population,Child_Abductions_Per_Capita
9,Delhi UT,6452,16787941,38.432349
21,Manipur,69,257090,26.838850
5,Chandigarh,130,1055450,12.317021
10,Goa,134,1458545,9.187238
19,Madhya Pradesh,6339,72626809,8.728182
6,Chhattisgarh,1844,25545198,7.218578
2,Arunachal Pradesh,66,1383727,4.769727
11,Gujarat,2101,60439692,3.476192
12,Haryana,816,25351462,3.218749
0,A&N Islands,12,380581,3.153074
27,Punjab,871,27743338,3.139492
13,Himachal Pradesh,210,6864602,3.059172
33,Uttar Pradesh,5875,199812341,2.940259
29,Sikkim,17,610577,2.784252
7,D&N Haveli,8,292882,2.731475
34,Uttarakhand,275,10086292,2.726473
28,Rajasthan,1814,68548437,2.646304
35,West Bengal,2351,91276115,2.575701
32,Tripura,88,3673917,2.395264
20,Maharashtra,2616,112374333,2.327934
16,Karnataka,1177,61095297,1.926499
25,Odisha,800,41974219,1.905932
31,Telangana,634,35003674,1.811238
4,Bihar,1585,104099452,1.522582
22,Meghalaya,43,2966889,1.449330
8,Daman & Diu,4,292882,1.365738
1,Andhra Pradesh,600,49577103,1.210236
14,Jammu & Kashmir,139,12541032,1.108362
26,Puducherry,9,1247953,0.721181
30,Tamil Nadu,390,72147030,0.540563
3,Assam,152,31205576,0.487092
17,Kerala,130,33406061,0.389151
24,Nagaland,7,1978502,0.353803
15,Jharkhand,94,32988134,0.284951
23,Mizoram,2,1097206,0.182281
18,Lakshadweep,0,64473,0.000000

- Child abducrion is nearly 40 percent of the crimes in india and delhi and manipur reported highest number of cases